*{
    padding: 0px;
    margin: 0px;
}

body{
    background:url(./imagens/corrida_img01.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body .img{
    filter:blur(2px);
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 60px;
}

.textos{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0.3em  0.3em 0.4em white;
}

.botoes{
    flex-direction: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}