*{
    padding: 0px;
    margin: 0px;
}

#corrida01{
    display:flex;
    width: 100%;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 60px;
}

.textos{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botoes{
    flex-direction: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}